body {
    font-family: arial, sans-serif;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

a {
    font-size: 15px;
    text-decoration: none;
    color: inherit
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background: #616161;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.active{
  font-weight: bold;
}